<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href = "@{/css/style.css}">
    <title>leidyshop</title>
</head>
<body>
    <h2 id="titulo">Ingrese el texto aqui</h2>
    <div id="conpie"><p id="pie">solo letras minúsculas y sin acentos</p></div>
    </div>
    <div class = "contenedorbotones">
        <button class = "boton"> Encriptar</button>
        <button class = "boton2">Desencriptar</button>
    </div>
    <div class = "recuadro"> </div> 
    <div class="recuadropequeño">
    <h2 id = "mensaje">Ningún mensaje fue <br>encontrado</h2>
    </div>
</body>
</html>