<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href = "@{/css/style.css}">
    <title>Reto Alura</title>
</head>
<body>
    <img th:src = "@{/img/logo.png}" class="logo">
    <textarea class="areatexto" id = "inputarea">Ingrese el texto aquí</textarea>
    <div id="conpie">
    <img th:src="@{/img/icono.png}">
    <p id="pie">solo letras minúsculas y sin acentos</p>
    </div>
    </div>
    <div class = "contenedorbotones">
        <button class = "boton" id = "benc"> Encriptar</button>
        <button class = "boton2" id = "bdes">Desencriptar</button>
    </div>
    <div class = "recuadro" id = "textoencriptado"> 
        <img th:src = "@{/img/Muñeco.png}" class="muñeco">
        <p class = "submensaje">Ingresa el texto que desees encriptar o desencriptar.</p>
        <div class="recuadropequeño" id = "botoncopiar">
            <h2 id = "mensaje">Ningún mensaje fue <br>encontrado</h2>
        </div>
    </div> 
    <script th:src= "@{/js/Encriptador.js}"></script>
</body>
</html>